<% layout("/layouts/boilerplate") %>
<body>
  <div class="row mt-2">
    <div class="col-6 offset-3">
        <div class="alert alert-warning d-flex align-items-center" role="alert">
            <div>
                <%= message %>
            </div>
        </div>
    </div>
  </div>
</div>
</body>
